input {
    http_poller {
        urls => {
            testapi1 => "http://localhost:9200"
            testapi2 => {
                # Supports all options supported by ruby's Manticore HTTP client
                method => get
                url => "http://localhost:9200/_cluster/health"
                headers => {
                    Accept => "application/json"
                }
            }
        }
        request_timeout => 10
        schedule => { every => "3s"}
        codec => "json"
        metadata_target => "http_poller_metadata"
    }
}
filter {
    mutate {
        remove_field => [ "message", "[event][original]" ]
    }
}
output {  
    stdout { codec => rubydebug } 
}
