input {
    http_poller {
        urls => {
            my_elastic_cluster => "http://localhost:9200"
        }
        request_timeout => 10
        schedule => { every => "3s"}
        codec => "json"
        metadata_target => "http_poller_metadata"
    }
}
filter {
    mutate {
        remove_field => [ "message", "[event][original]" ]
    }
}
output {  
    stdout { codec => rubydebug } 
}
