input {
    file {
        path => ["/home/zuko/Logstash-In-Practice/06 - First exercise/sample.log"]
        sincedb_path => "/dev/null"
        start_position => "beginning"
    }
}
filter {
    grok {
        match=> { message => "%{COMBINEDAPACHELOG}" }
    }
    geoip {
        source => "[source][address]"
        target => "geoip"
    }
    date {
        locale => "en"
        match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
        timezone => "Europe/Rome"
    }
    mutate {
        lowercase => [ "[user_agent][original]" ]
    }
    mutate {
        split => { "[http][version]" => "." }
        convert => {
          "[http][version]" => "integer"
        }
    }
    mutate {
        gsub => [
          "[host][name]", "Latitude", "Latitude.localhost"
        ]
        lowercase => [ "[host][name]" ]
    }
    mutate {
        rename => {"[source][address]" => "[source][clientip_%{[geoip][geo][country_iso_code]}]"}
    }
}
output {
    stdout {
    }
}
