input {
    exec {
        command => "echo 'Hi from config 2'"
        interval => 3
        type => "my-input-2"
    }
}
filter {
    if [type] == "my-input-2" {
        mutate {
            remove_field => [ "process", "event", "host", "@version" ]
            update => { "message" => "%{message}. Enriched by config 2" }
        }
    }
}
output {
    if [type] == "my-input-2" {
        file {
            path => "/tmp/common-output.log"
            write_behavior => "append"
        }
        stdout {
        }
    }
}
