input {
  jdbc {
    jdbc_driver_library => "/usr/share/java/mysql-connector-java-9.1.0.jar"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://localhost:3306/myshop"
    jdbc_user => "root"
    jdbc_password => "password123"
    schedule => "*/5 * * * * *"
    statement => "SELECT id,name,age FROM users WHERE id > :sql_last_value ORDER BY id LIMIT 2"
    use_column_value => true
    tracking_column => "id"
  }
}

output {
  elasticsearch {
    hosts => ["http://localhost:9200"]
    index => "myshop_users"
    #user => "elastic"
    #password => "changeme"
  } 
  stdout { codec => rubydebug }
}
