input {
    stdin {
    }
}

filter {
    grok {
        match=> { message => [
            "^%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level}.*\|%{NUMBER:thread}\|(?<methodname>[a-zA-Z0-9]+) resulted with (?<status>[A-Z]+), took %{DATA:took:int}ms",
            "^%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level}.*\|%{NUMBER:thread}\|Object state %{DATA:status} to %{NOTSPACE:newstate}",
            "^%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level}.*\|%{NUMBER:thread}\|%{GREEDYDATA:content}"
        ]}
        break_on_match => true
    }
}

output {
    stdout {
    }
}
