input {
    stdin {
        
    }
}
filter {
    ruby {
        code => "
          begin
            # random integer from the range 0..1
            event.set('no_output', (rand(100)%2).to_s())
          end
        "
    }
}
output {
    if [no_output] == "0" {
        elasticsearch {
            hosts => ["http://localhost:9200"]
            index => "test-index-v1"
            #user => "elastic"
            #password => "changeme"
        }
    } else if [no_output] == "1" {
        elasticsearch {
            hosts => ["http://localhost:9200"]
            index => "test-index-v1"
            #user => "elastic"
            #password => "changeme"
        }
    } else {
        stdout {
        }
    }
}
