input {
    file {
        path => ["/home/zuko/Logstash-In-Practice/21 - File Input Plugin/dictionary.txt"]
        delimiter => " "
        
        sincedb_path => "/dev/null"
        start_position => "beginning"
        
        exit_after_read => true
        file_completed_log_path => "/dev/null"
        file_completed_action => "log"
        mode => read
    }
}
filter {
}
output {  
    stdout { codec => rubydebug } 
}
