input {
    file {
        path => ["/home/zuko/Logstash-In-Practice/14 - Kv Plugin/sample.log"]
        sincedb_path => "/dev/null"
        start_position => "beginning"
    }
}
filter {
    grok {
        match=> { message => [
            "^%{TIMESTAMP_ISO8601:timestamp} %{GREEDYDATA:systemdata}"
        ]}
        break_on_match => true
    }
    if "_grokparsefailure" not in [tags] {
        kv {
            source => "systemdata"
            default_keys => [ "reasons", "" ]
            target => "myobject"
            exclude_keys => [ "debuginfo" ]
            transform_value => "lowercase"
            remove_field => [ "message", "[event][original]", "systemdata" ]
        }
        date {
            locale => "en"
            match => [ "timestamp", "ISO8601" ]
            timezone => "Europe/Rome"
            remove_field => [ "timestamp" ]
        }
    }
}
output {
    stdout {
    }
}


