input {
    file {
        path => ["/home/zuko/Logstash-In-Practice/13 - Json Plugin/sample.log"]
        sincedb_path => "/dev/null"
        start_position => "beginning"
        codec => multiline
        {
            pattern => '^\{'
            negate => true
            what => previous                
            auto_flush_interval => 3
        }        
    }
}
filter {
    json {
        source => "message"
        remove_field => [ "message", "[event][original]" ]
        #target => "myobject"
        #skip_on_invalid_json => true
    }
}
output {
    #if "_jsonparsefailure" not in [tags] {
        stdout {
        }
    #}   
}
