input {
    elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "mylogs-apache-v2*"
        #user => "elastic"
        #password => "changeme"
        query => '{ "query": { "match_all": {} }, "sort": [ "_doc" ] }'
        size => 500
        scroll => "5m"
        docinfo => true
        docinfo_target => "[@metadata][doc]"
    }
}
output {
    elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "copy-of.%{[@metadata][doc][_index]}"
        #user => "elastic"
        #password => "changeme"
        document_type => "%{[@metadata][doc][_type]}"
        document_id => "%{[@metadata][doc][_id]}"
    }
    file {
        path => "/tmp/backup-of.%{[@metadata][doc][_index]}.gz"
        gzip => true
    }
}
