input {
    stdin {
       type => "my-test-input-lines"
    }
    generator {
       lines => [
         '{"message": "Hello 1", "counter":12}',
         '{"message": "Hello 2", "counter":13}',
         '{"message": "Hello 3", "counter":false}'
       ]
       count => 1
       type => "my-test-input-lines"
     }
}

#filter is included from the separate file: core-pipeline-prod-dlq.config

output {
    elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "test-dlq-v1-%{+YYYY.MM.dd}"
        #user => "elastic"
        #password => "changeme"
    }
    stdout {
    }
}
