input {
     dead_letter_queue {
        path => "/home/zuko/dlq/"
        #start_timestamp => "2019-01-01T00:00:00"
        #commit_offsets => true
     }
}

#base filter is included from the separate file: core-pipeline-prod-dlq.config

output {
    elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "test-dlq-v2-%{+YYYY.MM.dd}"
        #user => "elastic"
        #password => "changeme"
    }
}
