#input is defined in a separate file

filter {
    grok {
        match=> { message => "%{COMBINEDAPACHELOG}" }
    }
    geoip {
        source => "[source][address]"
        target => "geoip"
    }
    date {
        locale => "en"
        match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
        timezone => "Europe/Rome"
    }
}

#output is defined in a separate file
