input {
    file {
        path => ["/home/zuko/Logstash-In-Practice/06 - First exercise/sample.log"]
        sincedb_path => "/dev/null"
        start_position => "beginning"
    }
}

#filter is included from the separate file: core-pipeline-prod-test.config

output {
    elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "mylogs-apache-v8-%{+YYYY.MM.dd}"
        #user => "elastic"
        #password => "changeme"
    }
}
