input {
    file {
        path => ["/home/user/Logstash-In-Practice/19 - Aggregate Plugin/sample2.log"]
        sincedb_path => "/dev/null"
        start_position => "beginning"
        type => "my-log-file"
    }
}

filter {
    json {
        source => "[event][original]"
        remove_field => [ "[event][original]" ]
    }
    date {
        locale => "en"
        match => [ "timestamp", "ISO8601" ]
        timezone => "Europe/Rome"
        remove_field => [ "[timestamp]" ]
    }
}

output {
    stdout {
    }
}
