input {
    file {
        path => ["/home/zuko/Logstash-In-Practice/06 - First exercise/sample.log"]
        sincedb_path => "/dev/null"
        start_position => "beginning"   
    }
}
filter {
    grok {
        match=> { message => "%{COMBINEDAPACHELOG}" }
        remove_field => [ "message", "[event][original]" ]
    }
    date {
        locale => "en"
        match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
        timezone => "Europe/Rome"
    }
    mutate {
        add_field => { "user_agent_original" => "%{[user_agent][original]}" }
        remove_field => [ "user_agent" ]
        add_field => { "myfield" => "url" }
    }
    prune {
        whitelist_names => ["^user_agent_original$", "^@timestamp$", "%{myfield}"]
        whitelist_values => ["user_agent_original", "Opera" ]
        interpolate => true
    }
}
output {
    stdout {
    }
}
