input {
    stdin {
        #delimiter => "|"
        codec => avro {
            schema_uri => "/home/zuko/Logstash-In-Practice/22 - Stdin Input Plugin/userdata.avsc"
        }
    }
}
filter {
    mutate {
        remove_field => [ "message", "[event][original]" ]
    }
}
output {  
    stdout { codec => rubydebug } 
}
