input {
    elasticsearch {
        hosts => "localhost"
        index => "mylogs-apache-v2-*"
        query => '{"sort":["_doc"]}'
        #user => "elastic"
        #password => "changeme"
    }
}
filter {
    fingerprint {
        key => "24242342442"
        method => "SHA256"
        source => ["url","source", "@timestamp", "user_agent", "http"]
        target => "[@metadata][generated_id]"
        concatenate_sources => true
    }
    date {
        locale => "en"
        match => [ "@timestamp", "ISO8601" ]
    }
}
output {
    elasticsearch {
        index => "mylogs-apache-de-duplicated-v2-%{+YYYY.MM.dd}"
        document_id => "%{[@metadata][generated_id]}"
        #user => "elastic"
        #password => "changeme"
    }
    stdout {
    }
}
