input {
    stdin {
    }
}

filter {
    json {
        source => "message"
    }
    date {
        locale => "en"
        match => [ "timestamp", "ISO8601", "UNIX", "dd/MMM/yyyy:HH:mm:ss Z", "yyyy-MM-dd HH:mm:ss ZZ", "dd/MM/yyyy HH:mm:ss", "MMMM dd, yyyy" ]
        timezone => "Europe/Rome"
    }
}

output {
    stdout {
    }
}
