input {
    http {
        port => 5000
        additional_codecs => {
            "application/json" => "json"
            "application/unknown" => "json"
        }
    }
}
filter {
    grok {
        match=> { message => "%{COMBINEDAPACHELOG}" }
    }
    date {
        locale => "en"
        match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
        timezone => "Europe/Rome"
    }
}
output {  
    stdout { codec => rubydebug } 
}
