input {
    exec {
        command => "echo 'Hi from config 3'"
        interval => 3
    }
}
filter {
    mutate {
        remove_field => [ "process", "event", "host", "@version" ]
        update => { "message" => "%{message}. Enriched by config 3" }
    }
}
output {
    file {
        path => "/tmp/common-output.log"
        write_behavior => "append"
    }
    stdout {
    }
}
