input {
    exec {
        command => "cat /proc/meminfo | grep MemFree | awk '{ print $2 }'"
        interval => 1
        #schedule => "* 5 * 1-3 *"      #will execute every minute of 5am every day of January through March.
    }
}
filter {
    mutate {
        remove_field => [ "[event][original]" ]
    }
}
output {  
    stdout { codec => rubydebug } 
}
