input {
    #stdin {
    #}
    generator {
       lines => ["a","b","c"]
       # How many times emit all the lines (0 -infinite)
       count => 0
    }
    #generator {
    #   lines => ["a","b","c"]
    #   # How many times emit all the lines (0 -infinite)
    #   count => 0
    #}
    #generator {
    #   lines => ["a","b","c"]
    #   # How many times emit all the lines (0 -infinite)
    #   count => 0
    #}
    #generator {
    #   lines => ["a","b","c"]
    #   # How many times emit all the lines (0 -infinite)
    #   count => 0
    #}
    #generator {
    #   lines => ["a","b","c"]
    #   # How many times emit all the lines (0 -infinite)
    #   count => 0
    #}
}
filter {
    #sleep {
    #    time => "5"   # Sleep 5 second
    #    every => 1   # on every event
    #  }
    drop { }
}
output {
    stdout {
    }
}
