input {
    stdin {
        
    }
}
output {
    #stdout {
    #}
    file { 
        path => "${sys:logs}/logstash-plain.log" 
        codec => json_lines
        write_behavior => "append"
    }
    #file { 
    #    path => "${sys:logs}/logstash-plain.log" 
    #    codec => line {
    #        format => "[%{+YYYY-MM-DD}T%{+HH:mm:ss,SSS}][INFO ][my-pipeline              ] %{message}"
    #    }
    #    write_behavior => "append"
    #}
}
