input {
    stdin {
        
    }
}
filter {
    json {
        source => "message"
    }
}
output {
    if [myaction] == "create" {
        elasticsearch {
            action => "create"
            hosts => ["http://localhost:9200"]
            index => "test-index-v1"
            #user => "elastic"
            #password => "changeme"
            document_id => "%{id}"
        }
    } else if [myaction] == "delete" {
        elasticsearch {
            action => "delete"
            hosts => ["http://localhost:9200"]
            index => "test-index-v1"
            #user => "elastic"
            #password => "changeme"
            document_id => "%{id}"
        }
    } else {
        stdout {
        }
    }
    
}
